.git
.github
.cursor
.idea
.vscode
.DS_Store
.env
.env.*
!.env.example
node_modules
vendor
public/hot
public/storage
storage/logs/*
storage/pail
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
dump-bpkh_agen_haji-202607291109.sql
*.md
.dockerignore
Dockerfile
docker-compose.yml
